body {
    width: 1970; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #515f67;
    background-color: rgb(87, 85, 85);
}

header {
    background: none;
    color: white;
    position: relative;
    z-index: 2;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    transition: all 0.3s ease;
}

nav a:hover {
    border: 2px solid #00bfff;
    border-radius: 4px;
}

.bg{
    height: auto;
    width: auto;
    background: url('Images/HERO.jpg');
    background-position: center;
}

.hero {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}


.hero-content {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    color: white;
}

.hero-text {
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 8px;
}

.hero h1 {
    font-size: 24px;
    margin: 0;
    line-height: 50px;
}

.special-text {
    background-color: rgba(58, 68, 73, 0.5);
    padding: 5px 10px 5px 10px;
    color: white;
}

.services {
    background: #00bfff;
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

.s-text {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    font-weight: lighter;
    font-size: 25px;
    padding-left: 15px;
}

.s-text hr {
    width: 52px;
    border: 0.5px solid white;
    margin: -16px 0;
}

.service {
    max-width: 270px;
    margin: 16px 0;
    text-align: center;
}

.service .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
}

.service h2 {
    font-size: 19px;
    margin-bottom: 8px;
}

.service p {
    font-size: 13px;
    text-align: justify;
    font-family: 'Segoe UI', sans-serif;
}

.portfolio {
    background-color: white;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-bottom: 32px;
}

.port-logo {
    font-weight: lighter;
    font-size: 25px;
    padding-top: 80px;
}

.port-logo hr {
    width: 52px;
    border: 0.3px solid black;
    margin: -20px 0;
}

.port-nav {
    padding-top: 106px;
    font-weight: bold;
}

.port-nav ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.port-nav a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    transition: all 0.3s ease;
}

.port-nav a:hover {
    border: 2px solid #00bfff;
    border-radius: 4px;
}

.portfolio-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 80px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 106px;
}

.row .image-container {
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
}

.row .image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.row .image-container::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.row .image-container:hover::after {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: to create a semi-transparent background */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    height: auto;
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    display: flex;
    padding-bottom: 40px;
}

.section1 {
    float: left;
    color: white;
    margin-top: 40px;
    width: 50%;
}

.sp-text {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    font-weight: lighter;
    font-size: 21.5px;
    padding-left: 15px;
    font-family: 'Segoe UI', sans-serif;
}

.s-button {
    height: auto;
    padding-top: 25px;
    padding-left: 15px;
    color: #353f46;
}

.s-button button {
    height: 45px;
    width: 140px;
    background: none;
    border: 2px solid #353f46;
    font-size: 15px;
    color: #353f46;
    font-weight: 600;
    cursor: pointer;
}

.s-button button:hover{
    background-color: #00bfff;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
    transition: all 0.3s ease;
}

.section2 {
    float: right;
    padding-top: 80px;
}

.section2 iframe {
    height: 315px;
    width: 560px;
}

.twitter_main {
    height: auto;
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    display: flex;
    padding-bottom: 40px;
    background-color: #00bfff;
}

.twitter {
    margin-top: 40px;
    float: left;
    color: white;
}

.twit_logo {
    float: right;
    margin-top: 80px;
}

.whois{
    height: auto;
    background-image: url("Images/whois.jpg");
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    display: flex;
    padding-bottom: 80px;
    background-position: center;
}

.whois1 {
    float: left;
    color: white;
    margin-top: 40px;
    padding-left: 15px;
}

.spp-text{
    text-align: left;
    margin-bottom: 32px;
    font-weight: lighter;
    font-size: 17.5px;
    font-family: 'Segoe UI', sans-serif;
    padding-left: 15px;
}

.whois2 {
    float: left;
    color: white;
    margin-top: 105px;
    padding-left: 30px;
}

.sppp-text{
    text-align: left;
    margin-bottom: 32px;
    font-weight: lighter;
    font-size: 17.7px;
    font-family: 'Segoe UI', sans-serif;
}

.img-logos{
    cursor: pointer;
    display: flex;
    gap: 40px;
}

.img-logos :hover{
    border: 1px solid white;
    transition: 0.3s;
}

.testimonial_main {
    height: auto;
    margin: 0 auto;
    width: auto;
    justify-content: space-around;
    display: flex;
    padding-bottom: 40px;
    background-color: white;
}

.testimonial {
    margin-top: 40px;
    float: left;
    color: black;
}

.testimonial_logo {
    float: right;
    margin-top: 80px;
}
.testimonial hr{
    width: 52px;
    border: 0.3px solid black;
    margin: -20px 0;
}

.testimonial a{
    color: #4bcaff;
    text-decoration-line: none;
}


.contact{
    display: flex;
    justify-content: space-around;
    height: auto;
    background-image: url("Images/contact-bg.jpg");
}

.basics{
    display: flex;
    justify-content: space-around;
    height: auto;
    padding-bottom: 20px;
}

.contact1{
    height: auto;
    float: left;
    color: white;
    width: 50%;
}

.sssss-text{
    padding-left: 15px;
    font-size: 25px;
}

.sssss-text hr {
    width: 52px;
    border: 0.5px solid white;
    float: left;
}

.forms{
    padding-top: 50px;
    padding-left: 15px;
}

.forms label{
    font-size: 20px;
}

.forms input {
    border: 2px solid white;
    height: 56px;
    width: 466px;
    background: none;
    color: white;
    font-size: 30px;
}

.forms textarea {
    border: 2px solid white;
    height: 220px;
    width: 1150px;
    background: none;
    color: white;
    font-size: 30px;
}


.contact2{
    float: right;
    color: white;
    width: 50%;
}
.contact2 p{
    color: white;
    padding-top: 100px;
    font-size: 17px;
}

.message{
    color: white;
}

.forms button{
    height: 60px ;
    width: 370px;
    background-color: #00bfff;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .bg{
        height: auto;
        width: auto;
        background: url('Images/HERO1.jpg');
        background-position: center;
    }

    nav ul {
        flex-direction: column;
        gap: 8px;
    }

    .row{
        flex-direction: column;
        justify-content: center;
    }

    .body{
        justify-content: center;
    }

    .port-nav ul {
        flex-direction: column;
        gap: 8px;
    }

    .services {
        flex-direction: column;
    }
    .service{
        text-align: center;
        padding-left: 40px;
    }
    .section{
        justify-content: center;
        flex-direction: column;
    }
    .section iframe {
        height: auto;
        width: auto;
    }

    .whois{
        justify-content: center;
        flex-direction: column;
        background-image: url("Images/whois1.jpg");
    }

    .img-logos{
        gap: 20px;
    }

    .contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url("Images/contact-bg1.jpg");
    }

    .sssss-text{
        padding-left: 15px;
        font-size: 20px;
    }

    .forms label{
        font-size: 15px;
    }

    .contact1{
        width: 50%;
        float: left;
    }
    .contact2{
        width: 50%;
        float: right;
    }

    .forms input {
        border: 2px solid white;
        height: 40px;
        width: 150px;
        background: none;
        color: white;
        font-size: 15px;
    }

    .forms textarea {
        border: 2px solid white;
        height: 220px;
        width: 300px;
        background: none;
        color: white;
        font-size: 15px;
    }

    .message{
        padding-top: 80px;
    }
    .forms{
        padding-top: 110px;
    }

    .forms button{
        height: 60px ;
        width: 340px;
        font-size: 20px;
        color: white;
        margin-top: 15px;
    }
}

footer {
    background-color: #0d6994;
    color: white;
    text-align: center;
    align-items: center;
    padding: 16px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.copyright a{
    color: #4bcaff;
    font-size: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

.footer_navs{
    width: 50%;
    float: left;
}

.copyright{
    width: 50%;
    float: right;
}